.grid-container {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
}

.grid-cell {
    width: 20%;
    /* Adjust as needed */
    /* Set the width of each cell relative to the container */
    padding: 1em;
    /* Add padding for better spacing */
    box-sizing: border-box;
    /* Include padding in the total width */
    border: 1px solid #ccc;
    text-align: center;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Adjust as needed */
}
body {
    font-size: 2vw;
    /* Adjust as needed */
}